<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid=”true”>

<f:link.action action="list" arguments="{classroomUid: -1}">All classrooms</f:link.action>
<f:for each="{classrooms}" as="classroom">
    <f:link.action action="list" arguments="{classroomUid: classroom.uid}">{classroom.name}</f:link.action>
</f:for>

<table border="1" cellspacing="1" cellpadding="5">
    <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>Email</td>
        <td>Class</td>
    </tr>
    <f:for each="{students}" as="student">
        <tr>
            <td align="top">{student.name}</td>
            <td align="top">{student.surname}</td>
            <td align="top">{student.email}</td>
            <td align="top">{student.classroom.name}</td>
        </tr>
    </f:for>
</table>

</html>