<p>CREATE EXAMS HERE</p>

<f:form class="create-exam-form" action="create" objectName="newExam">
  <div class="create-exam-form__title">
    <label for="title">Title</label>
    <f:form.textfield property="title" required="true" />
  </div>
  <div class="create-exam-form__date">
    <label for="date">Date</label>
    <f:form.textfield  property="date" type="date" required="true" />
  </div>
  <div class="create-exam-form__classroom">
    <label for="classroom">Classroom</label>
    <f:form.select property="classroom"  prependOptionLabel="Please select">
      <f:for each="{classrooms}" as="classroom">
        <f:variable name="subjectsList" value=""/>
        <f:for each="{classroom.subjects}" as="subject">
          <f:if condition="{subjectsList} != ''">
            <f:then>
              <f:variable name="subjectsList" value="{subjectsList},{subject.uid}"/>
            </f:then>
            <f:else>
              <f:variable name="subjectsList" value="{subject.uid}"/>
            </f:else>
          </f:if>
        </f:for>      
          <f:form.select.option data="{'subject-uids': subjectsList}" value="{classroom.uid}">{classroom.name}</f:form.select.option>
      </f:for>
    </f:form.select>
  </div>
  <div class="create-exam-form__subject">
    <label for="subject">Subject</label>
    <f:form.select property="subject" options="{subjects}" optionLabelField="title" optionValueField="uid"  prependOptionLabel="Please select" />
  </div>
  <div class="create-exam-form__questions">
    <label for="questions">Questions</label>
    <button class="create-exam-form__questions__add" type="button">+</button>
    <div class="create-exam-form__question" hidden>
      <f:form.textfield name="questions"/>
      <label> True 
        <f:form.radio name="questions" value="1"/>
      </label>
      <label> False 
        <f:form.radio name="questions" value="0"> false </f:form.radio>
      </label>
      <button class="create-exam-form__questions__remove" type="button">-</button>
    </div>
  </div>
  <f:form.submit value="Create" />
</f:form>
<f:if condition="{newExamCreated}">
  <div class="creation-notification" style="position:fixed;top:10px;right:10px;padding:10px;background-color:greenyellow;border:1px solid green;">
   new exam {newExamCreated.title}
  </div>
</f:if>
<f:if condition="{creationError}">
  <div class="error-notification" style="position:fixed;top:10px;right:10px;padding:10px;background-color:lightcoral;border:1px solid red;">
   PROCESS FAILED
  </div>
</f:if>