<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid=”true”>

<f:if condition="{examToEdit.uid}">
  <f:then>
    <f:variable name="formAction" value="edit"/>
  </f:then>
  <f:else>
    <f:variable name="formAction" value="create"/>
  </f:else>
</f:if>

<h1>Exam {formAction}</h1>

<f:render 
  partial="ExamForm"
  arguments="{
    classrooms: classrooms,
    subjects: subjects,
    examToEdit: examToEdit,
    formAction: formAction
  }"
/>

<!-- notifications -->
<f:if condition="{succeded}">
  <div class="creation-notification" style="position:fixed;top:10px;right:10px;padding:10px;background-color:greenyellow;border:1px solid green;">
    {succeded}
  </div>
</f:if>
<f:if condition="{failed}">
  <div class="error-notification" style="position:fixed;top:10px;right:10px;padding:10px;background-color:lightcoral;border:1px solid red;">
    PROCESS FAILED
  </div>
</f:if>